{% extends 'core/base.html' %}
{% load static%}

{% block css %}
  
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}

<div class="container mt-4 mb-4 rounded text-center" style="background-color: rgb(232, 232, 232);">
  <br>
  <h1 style="color: rgb(60, 60, 60);">Administración</h1>
  <br>
</div>

<div class="container mt-4 mb-4 rounded text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Usuarios</h5>
                <div class="card-body">
                <p class="card-text">CRUD de usuarios.</p>
                <a href="{% url 'crudUsuarios' %}" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Productos</h5>
                <div class="card-body">
                <p class="card-text">CRUD de productos.</p>
                <a href="#" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Pedidos</h5>
                <div class="card-body">
                <p class="card-text">CRUD de pedidos</p>
                <a href="#" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Generar informes</h5>
                <div class="card-body">
                <p class="card-text">Generación informes PDF y Excel</p>
                <a href="#" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>




{% endblock %}
<!-- FIN CONTENIDO -->
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}