{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  {% block css %}

  {% endblock %}
  <title>Ferremas</title>
  <style>
    .navbar {
      height: 80px; /* Ajusta la altura según sea necesario */
      padding-left: 20px; /* Margen izquierdo */
      padding-right: 20px; /* Margen derecho */
    }
  
    .navbar-nav .nav-link {
      font-size: 22px; /* Ajusta el tamaño de la fuente según sea necesario */
    }

    /* Estilos para el footer */
    .footer-container {
      background-color: #f8f9fa; /* Blanco */
      color: #212529; /* Negro */
    }

    .footer-container.dark {
      background-color: #343a40; /* Gris oscuro */
      color: #dee2e6; /* Gris claro */
    }

    .footer-links a {
      color: inherit; /* Hereda el color del texto */
    }

    .footer-links a:hover {
      text-decoration: underline; /* Subraya el texto al pasar el mouse */
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Agrega el icono de tienda al lado derecho del texto -->
    <a class="navbar-brand" href="{% url 'index' %}" style="font-size: 28px; font-family: 'Roboto', sans-serif;">
      Ferremas <i class="fas fa-store-alt" style="margin-left: 5px;"></i>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <a href="#"class= "nav-link">Bienvenido: {{ user.username }}</a>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/logout' %}active{% endif %}" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/login' %}active{% endif %}" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
        {% endif %}
        <a class="nav-link {% if '/nosotros' in request.path %}active{% endif %}" href="{% url 'nosotros' %}">Sobre nosotros</a>
        {% if user.is_authenticated %}
        {% if 'cliente' in user.groups.all|join:',' %}
          <a class="nav-link {% if '/carrito' in request.path %}active{% endif %}" href="{% url 'carrito' %}">Carrito <i class="fas fa-shopping-cart"></i></a>
          <a class="nav-link {% if '/carrito' in request.path %}active{% endif %}" href="{% url 'compras' %}">Mis Compras </a>
          <a class="nav-link {% if '/producto' in request.path %}active{% endif %}" href="{% url 'producto' %}">Productos</a>
        {% endif %}
        <a class="nav-link {% if '/perfil' in request.path %}active{% endif %}" href="{% url 'perfil' %}">Perfil</a>
        {% endif %}
        <a class="nav-link {% if '/contacto' in request.path %}active{% endif %}" href="{% url 'contacto' %}">Contacto</a>
        {% if 'vendedor' in user.groups.all|join:',' %}
        <a class="nav-link {% if '/bodega' in request.path %}active{% endif %}" href="{% url 'bodega' %}">Bodega</a>
        <a class="nav-link {% if '/producto' in request.path %}active{% endif %}" href="{% url 'producto' %}">Productos</a>
        {% endif %}
        {% if user.is_superuser %}
        <a class="nav-link {% if '/crudUsuarios' in request.path %}active{% endif %}" href="{% url 'crudUsuarios' %}">Administrar Usuarios</a>
        {% endif %}
        {% if 'contador' in user.groups.all|join:',' %}
        <a class="nav-link {% if '/crudPagos' in request.path %}active{% endif %}" href="{% url 'crudPagos' %}">Administrar Pagos</a>
        {% endif %}
        {% if user.is_superuser or 'contador' in user.groups.all|join:',' %}
        <a class="nav-link {% if '/informes' in request.path %}active{% endif %}" href="{% url 'informes' %}">Informes</a>
        {% endif %}
        {% if 'bodeguero' in user.groups.all|join:',' %}
        <a class="nav-link {% if '/crudProductos' in request.path %}active{% endif %}" href="{% url 'crudProductos' %}">Administrar Productos</a>
        <a class="nav-link {% if '/pedidosBodeguero' in request.path %}active{% endif %}" href="{% url 'pedidosBodeguero' %}">Pedidos</a>
        <a class="nav-link {% if '/pedidos_tomados' in request.path %}active{% endif %}" href="{% url 'pedidos_tomados' %}">Historial Pedidos</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>


  <!-- INICIO CONTENIDO-->
  {% block contenido %}

  {% endblock %}
  <!-- FIN CONTENIDO -->


    <!-- INICIO FOOTER -->
    <div class="container-fluid footer-container mt-5 py-5">
      <div class="container pt-5">
          <div class="row g-5">
              <div class="col-lg-3 col-md-6">
                  <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Ponerse en contacto</h5>
                  <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>DIRECCION: Avenida Concha Y Toro, Av. San Carlos 1340, Puente Alto</p>
                  <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>Ferremas2024@gmail.com</p>
                  <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+56 9 7993 8717</p>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Links rápidos</h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                      <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Sobre Nosotros</a>
                      <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contacto</a>
                      <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Nuestros Productos</a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Links populares</h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                      <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contacto</a>
                      <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Nuestros Productos</a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Redes sociales</h5>
                  <div class="d-flex justify-content-start">
                      <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="fab fa-facebook"></i></a>
                      <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="fab fa-linkedin"></i></a>
                      <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
              <div class="col-12 text-center text-body">
                  <a class="text-body" href="">Términos y condiciones</a>
                  <span class="mx-1">|</span>
                  <a class="text-body" href="">Política de privacidad</a>
                  <span class="mx-1">|</span>
                  <a class="text-body" href="">Customer Support</a>
                  <span class="mx-1">|</span>
                  <a class="text-body" href="">Métodos de pago</a>
                  <span class="mx-1">|</span>
                  <a class="text-body" href="">Ayuda</a>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid footer-container dark text-white-50 py-4">
      <div class="container">
          <div class="row g-5">
              <div class="col-md-6 text-center text-md-start">
                  <p class="mb-md-0">&copy; <a class="text-white" href="#">Ferremas</a>. Reservados todos los derechos.</p>
              </div>
          </div>
      </div>
  </div>
  <!-- FINAL FOOTER -->
  


  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% block js %}

  {% endblock %}
</body>

</html>
