{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #ffffff; /* Fondo gris claro */
      margin: 0;
      padding: 0;
  }

  .bodega-container {
      text-align: center;
      margin-top: 50px; /* Margen superior */
  }

  .bodega-title {
      color: #333333; /* Título negro */
  }

  .bodega-subtitle {
      color: #666666; /* Subtítulo gris */
  }

  .bodega-table {
      width: 80%;
      margin: 20px auto; /* Margen superior e inferior */
      border-collapse: collapse;
      background-color: #f2f2f2;/* Fondo blanco */
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .bodega-table th, .bodega-table td {
      padding: 15px 20px; 
  }

  .bodega-table th {
      background-color: #333333; 
      color: #ffffff; 
  }

  .bodega-table td {
      border-bottom: 1px solid #dddddd; 
  }

  .bodega-table tr:hover {
      background-color: #dddddd; 
  }
</style>
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}
<div class="bodega-container">
    <h1 class="bodega-title">Bodega</h1>
    
    <h2 class="bodega-subtitle">Listado productos en bodega</h2>
    <table class="bodega-table">
        <thead>
            <tr>
                <th>ID del Producto</th>
                <th>Nombre del Producto</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SKU: 91898</td>
                <td>Martillos A</td>
                <td>16</td>
            </tr>
            <tr>
                <td>SKU: 9148</td>
                <td>Clavos</td>
                <td>67</td>
            </tr>
            <tr>
                <td>SKU: 91432</td>
                <td>Serrucho Eléctrico</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
<!-- FIN CONTENIDO -->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}
