{% extends 'core/base.html' %}
{% load static%}

{% block css %}
  
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #eee;
    }

    .container {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card2 {
        width: 80%;
        max-width: 1200px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .row2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px;
    }

    .products2 {
        flex: 1;
        margin-right: 20px;
    }

    .product2 {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .product img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .product-details2 {
        flex: 1;
    }

    .subtotal2 {
        margin-top: 20px;
    }

    .subtotal p {
        margin: 0;
    }

    .checkout-btn {
        width: 100%;
        padding: 15px;
        border: 15%;
        color: #000000;
        font-size: 1.2rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .checkout-btn:hover {
        background-color: #b3bcc7;
    }

    .card-details2 {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
    }

    .card-details2 h2 {
        margin-top: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .product-img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }

    .quantity-input {
        width: 50px;
    }

    .delete-btn {
        background: none;
        border: none;
        cursor: pointer;
    }

    .delete-btn:hover {
        color: red;
    }

    .subtotal2x {
    margin: 20px 0; /* Ajusta el margen según sea necesario */
    }

    .row2x {
        display: flex;
        justify-content: space-between; /* Distribuye espacio entre elementos */
        align-items: center; /* Centra verticalmente los elementos */
        margin-bottom: 10px; /* Espacio entre cada producto */
    }

    .product-infox {
        flex: 1; /* Toma todo el espacio disponible a la izquierda */
    }

    .pricex {
        display: flex;
        flex-direction: column; /* Coloca los elementos en columna */
        align-items: flex-end; /* Alinea los precios a la derecha */
    }

    .pricex span {
        display: block;
        margin-top: 5px; /* Espacio entre los precios en dólares y USD */
    }

    .checkout-btn-wrapper {
    display: flex;
    gap: 10px; /* Ajusta el valor según sea necesario */
    }

    .hidden {
            display: none;
    }
</style>
</head>
<body>

<section class="container">
<div class="card2">
    <div class="row2">
        <div class="products2">
            <table>
                <thead>
                    <tr>
                        <th class="text-center">Producto</th>
                        <th class="text-center"></th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Precio Unidad</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for prod in listado %}
                    <tr>
                        <td class="text-center">
                            <img src="{% static 'core/img/'|add:prod.imagen %}" class="product-img">
                            
                        </td>
                        <td class="text-center">
                            <span>{{ prod.nombre }}</span>
                        </td>
                        <td class="text-center">{{ prod.cantidad }}</td>
                        <td class="text-center">
                            <span>{{ prod.precio }}CLP</span>
                            <span>{{ prod.preciousd }}USD</span>
                        </td>
                        <td>
                            <a onclick="deleteCarrito({{ prod.id_producto }})" class="text-danger"><i class="fas fa-trash"></i></a>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
        function deleteCarrito(id){
            //console.log("ID PRODUCTO: "+id);
            Swal.fire({
            title: 'Eliminar',
            text: '¿Desea eliminar producto del carrito?',
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Eliminar'
            }).then((result) => {
            if (result.isConfirmed) {
                swal.fire('Eliminado!','Producto eliminado correctamente', 'success').then(function(){
                    window.location.href = "/deleteCarrito/"+id;
                })
            }
            })
        }
        </script>

        <div class="details2">
            <div class="card-details2">
                <h2>Carrito de compras</h2>
                <div class="subtotal2x">
                    {% for prod in listado %}
                        <div class="row2x d-flex justify-content-between align-items-center">
                            <p class="product-infox">{{ prod.nombre }} x {{ prod.cantidad }}</p>
                            <div class="pricex text-end">
                                <span>{{ prod.subtotal }} CLP</span>
                                <span>{{ prod.subtotalusd }} USD</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row2x d-flex justify-content-between align-items-center">
                        <p class="product-infox">Total</p>
                        <div class="pricex text-end">
                            <span>{{ total }} CLP</span>
                            <span>{{ totalusd }} USD</span>
                        </div>
                    </div>
                </div>

                <form method="POST" action="{% url 'agregarCompra' %}" name="formulario" id="formulario">
                    {% csrf_token %}
                    <div class="checkout-btn-wrapper">
                        <input type="radio" id="retiro" name="delivery" value="retiro" class="btn-check" autocomplete="off" checked>
                        <label class="btn btn-outline-primary checkout-btn" for="retiro">Retiro</label>
        
                        <input type="radio" id="despacho" name="delivery" value="despacho" class="btn-check" autocomplete="off">
                        <label class="btn btn-outline-primary checkout-btn" for="despacho">Despacho</label>
                    </div>
        
                    <div id="sucursal-form" class="mt-4">
                        <h3>Seleccione una Sucursal</h3>
                        <select name="sucursal" class="form-select">
                            {% for sucursal in sucursales %}
                                <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
        
                    <div id="direccion-form" class="hidden mt-4">
                        <h3>Dirección de Envío</h3>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="calle" name="calle">
                        </div>
                    </div>
        
                    <input type="submit" style="visibility: hidden;" value="submit">
                </form>
            </div>
        
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const retiroBtn = document.getElementById('retiro');
                    const despachoBtn = document.getElementById('despacho');
                    const sucursalForm = document.getElementById('sucursal-form');
                    const direccionForm = document.getElementById('direccion-form');
        
                    const calleInput = document.getElementById('calle');
        
                    retiroBtn.addEventListener('change', toggleForm);
                    despachoBtn.addEventListener('change', toggleForm);
        
                    function toggleForm() {
                        if (despachoBtn.checked) {
                            direccionForm.classList.remove('hidden');
                            sucursalForm.classList.add('hidden');
                            setRequired(true);
                        } else {
                            direccionForm.classList.add('hidden');
                            sucursalForm.classList.remove('hidden');
                            setRequired(false);
                        }
                    }
        
                    function setRequired(isRequired) {
                        calleInput.required = isRequired;
                    }
                });
            </script>

                <p><div id="btnPaypal"></div></p>
								
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
<!-- FIN CONTENIDO -->
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <script>
      paypal.Button.render({
          env: 'sandbox',
          client: {
              sandbox: 'AWxcFSteZoE4RLubhmmExCLuJVVXe-PTyEClMpYREf8OzeGX0dPRnSNpx0gP1uR2CvP6rWMlBGKn4vAj',
              production: 'demo_production_client_id'
          },
          locale: 'es_CL',
          style: {
              size: 'large',
              color: 'gold',
              shape: 'rect'
          },
          commit: true,
          payment: function (data, actions) {
              return actions.payment.create({
                  transactions: [{
                      amount: { 
                          total: '{{ totalusd }}',
                          currency: 'USD'
                      }
                  }]
              });
          },
          onAuthorize: function (data, actions) {
              return actions.payment.execute().then(function () {
                  Swal.fire({
                      title: 'Confirmación',
                      text: 'Pago realizado correctamente!',
                      icon: 'success',
                      showCancelButton: false,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Confirmar'
                  }).then(function() {
            document.formulario.submit();
        });
              });
          },
          onCancel(data) {
              Swal.fire({
                      title: 'Cancelado',
                      text: 'Transacción cancelada!',
                      icon: 'error',
                      showCancelButton: false,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Confirmar'
                  })
          },
          onError(err) {
              Swal.fire({
                      title: 'Error',
                      text: 'Ha ocurrido un error con el pago',
                      icon: 'error',
                      showCancelButton: false,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Confirmar'
                  })
          }

      }, '#btnPaypal');
  </script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}