
{% extends 'core/base.html' %}
{% load static%}
{% load crispy_forms_tags %}


{% block css %}
  
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}
<div class="container mt-5">
    <h1>Detalle de la Compra</h1>
    <table class="table table-striped mt-3">
        <tbody>
            <tr>
                <th>Código</th>
                <td id="codigo">{{compra.codigo}}</td>
            </tr>
            <tr>
                <th>Sucursal</th>
                {% if compra.sucursal is None %}
                    <td id="metodo">No aplica</td>   
                {% else %}
                    <td id="sucursal">{{compra.sucursal}}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Dirección</th>
                {% if compra.direccion != "" %}
                    <td id="direccion">{{compra.direccion}}</td>
                {% else %}
                    <td id="metodo">No aplica</td>
                {% endif %}
            </tr>
            <tr>
                <th>Fecha</th>
                <td id="fecha">{{compra.fecha}}</td>
            </tr>
            <tr>
                <th>Monto Total</th>
                <td id="monto">{{boleta.total}} CLP</td>
            </tr>
            <tr>
                <th>Método de Pago</th>
                {% if boleta.transferencia == True %}
                    <td id="metodo">Transferencia</td>
                {% else %}
                    <td id="metodo">Paypal</td>
                {% endif %}
            </tr>
            <tr>
                <th>Estado del Pago</th>
                {% if boleta.validacion == True %}
                    <td id="metodo">Aprobada</td>
                {% else %}
                    {% if boleta.imagen == "" %}
                        <td id="metodo">Comprobante no enviado</td>
                    {% else %}
                        <td id="metodo">En espera de revisión</td>
                    {% endif %}
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% if boleta.transferencia %}
        {% if boleta.validacion == False %}
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="formFile" class="form-label">Comprobante Transferencia</label>
                    <input class="form-control" type="file" id="formFile" name="comprobante">
                </div>
                <button type="submit" class="btn btn-success">Subir</button>
            </form>
            <a href="{% url 'datosTransferencia' %}" class="btn btn-primary mt-2">Datos de Transferencia</a>
        {% endif %}
    {% endif %}

    


</div>

{% endblock %}
<!-- FIN CONTENIDO -->
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}