{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff; /* Fondo blanco */
        margin: 0;
        padding: 0;
    }

    .cuentas-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff; /* Fondo blanco */
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
        overflow: hidden; /* Oculta el desbordamiento horizontal */
    }

    .cuentas-title {
        color: #333333; /* Título negro */
        margin-bottom: 20px;
        text-align: center;
    }

    .cuentas-list {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Distribuye las columnas automáticamente con un ancho mínimo de 300px */
        grid-gap: 20px; /* Espacio entre las tablas */
    }

    .cuentas-item {
        background-color: #f2f2f2; /* Fondo gris claro */
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
        transition: transform 0.3s ease; /* Transición suave */
        overflow: hidden; /* Evita que los bordes redondeados se vean mal en las tablas */
    }

    .cuentas-item:hover {
        transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
    }

    .cuentas-item-header {
        background-color: #333333; /* Fondo negro para encabezado */
        color: #ffffff; /* Texto blanco */
        padding: 10px;
        font-weight: bold;
        border-radius: 5px 5px 0 0;
    }

    .cuentas-item-content {
        padding: 10px;
    }

    .cuentas-item-actions {
        padding: 10px;
        text-align: right;
    }

    .cuentas-item-action {
        padding: 10px 20px; /* Mismo padding que el botón eliminar */
        background-color: #000000; /* Fondo verde por defecto */
        color: #ffffff; /* Texto blanco */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease; /* Transición suave */
        text-decoration: none; /* No subrayar el texto */
    }

    .cuentas-item-action:hover {
        background-color: #3f3f3f; /* Cambio de color al pasar el ratón */
    }

    /* Cambia el color del botón eliminar a rojo */
    .cuentas-item-delete {
        background-color: #f44336; /* Rojo */
    }

    /* Cambia el color del botón eliminar a un rojo más oscuro al pasar el ratón */
    .cuentas-item-delete:hover {
        background-color: #d32f2f; /* Rojo más oscuro */
    }

    .agregar-cuenta {
        text-align: right; /* Alinea el botón a la derecha */
        margin-bottom: 20px; /* Agrega un espacio debajo del botón */
    }

    .agregar-cuenta-btn {
        padding: 10px 20px; /* Espaciado interno del botón */
        background-color: #4caf50;
        color: #ffffff; /* Color de texto blanco */
        border: none; /* Elimina el borde del botón */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cursor de puntero al pasar el ratón */
        transition: background-color 0.3s ease; /* Transición suave */
        text-decoration: none; /* No subrayar el texto */
    }

    .agregar-cuenta-btn:hover {
        background-color: #45a049; /* Cambio de color al pasar el ratón */
    }

    /* Estilos adicionales para el botón de agregar */
    .agregar-cuenta-btn:hover {
        color: #ffffff; /* Color de texto blanco */
    }

    /* Estilos para el enlace de editar */
    .editar-link {
        color: #ffffff; /* Color de texto blanco */
        text-decoration: none; /* No subrayar el texto */
    }

    .editar-link:hover {
        color: #ffffff; /* Mantener el color de texto blanco al pasar el ratón */
    }
</style>
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}
<!-- Agregar un botón para agregar productos -->
<div class="cuentas-container">
    <h1 class="cuentas-title">Cuentas Vendedores</h1>

    <!-- Botón para agregar productos -->
    <div class="agregar-cuenta">
        <a href="{% url 'agregarVendedor' %}" class="agregar-cuenta-btn"><i class="fas fa-plus"></i> Agregar Vendedor</a>
    </div>

    <ul class="cuentas-list">
        {% for vendedor in vendedores %}
        <li class="cuentas-item">
            <div class="cuentas-item-header">Vendedor</div>
            <div class="cuentas-item-content">
                <p>Usuario: {{ vendedor.username }}</p>
                <p>Nombre: {{ vendedor.first_name }}</p>
                <p>Nombre: {{ vendedor.last_name }}</p>
                <p>Email: {{ vendedor.email }}</p>
            </div>
            <div class="cuentas-item-actions">
                <a href="{% url 'modificarVendedor' id=vendedor.id %}" class="btn btn-primary">Modificar</a>
                <a href="" class="btn btn-danger">Eliminar</a>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
