{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }

    .cuentas-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .cuentas-title {
        color: #333333;
        margin-bottom: 20px;
        text-align: center;
    }

    .cuentas-list {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
    }

    .cuentas-item {
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        overflow: hidden;
    }

    .cuentas-item:hover {
        transform: translateY(-5px);
    }

    .cuentas-item-header {
        background-color: #333333;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px 5px 0 0;
    }

    .cuentas-item-content {
        padding: 10px;
    }

    .cuentas-item-actions {
        padding: 10px;
        text-align: right;
    }

    .cuentas-item-action {
        padding: 5px 10px;
        background-color: #000000;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    .cuentas-item-action:hover {
        background-color: #3f3f3f;
    }

    .cuentas-item-delete {
        background-color: #f44336;
    }

    .cuentas-item-delete:hover {
        background-color: #d32f2f;
    }

    .agregar-cuenta {
        text-align: right;
        margin-bottom: 20px;
    }

    .agregar-cuenta-btn {
        padding: 10px 20px;
        background-color: #4caf50;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    .agregar-cuenta-btn:hover {
        background-color: #45a049;
    }
</style>
{% endblock %}

{% block contenido %}
<div class="cuentas-container">
    <h1 class="cuentas-title">Cuentas clientes</h1>
    <div class="row">

        <div class="agregar-cuenta">
            <a href="{% url 'agregarClientes' %}" class="agregar-cuenta-btn"><i class="fas fa-plus"></i> Agregar Cliente</a>
        </div>
        <ul class="cuentas-list">
            {% for cliente in clientes %}
            <li class="cuentas-item">
                <div class="cuentas-item-header">Cliente</div>
                <div class="cuentas-item-content">
                    <p>Usuario: {{ cliente.username }}</p>
                    <p>Nombre: {{ cliente.first_name }}</p>
                    <p>Apellido: {{ cliente.last_name }}</p>
                    <p>Email: {{ cliente.email }}</p>
                </div>
                <div class="cuentas-item-actions">
                    <a href="{% url 'modificarCliente' id=cliente.id %}" class="btn btn-primary">Modificar</a>
                    <form action="{% url 'eliminarCliente' cliente.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteForms = document.querySelectorAll('form[action*="eliminar"]');
        deleteForms.forEach(function (form) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                swal({
                    title: "¿Estás seguro?",
                    text: "Una vez eliminado, no podrás recuperar este cliente!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        form.submit();
                    }
                });
            });
        });
    });
</script>
{% endblock %}
