{% extends 'core/base.html' %}
{% load static%}

{% block css %}
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #ffffff; /* Fondo blanco */
      margin: 0;
      padding: 0;
  }

  .datos-transferencia-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
      margin-top: -90px; /* Ajuste para centrar más arriba */
  }

  .datos-transferencia-card {
      width: 600px; /* Aumenta el ancho de la tarjeta */
      background-color: #f9f9f9; /* Fondo blanco */
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
      overflow: hidden;
      position: relative; /* Para posicionar el botón relativo a la carta */
  }

  .datos-transferencia-card-body {
      padding: 20px;
      margin-bottom: 50px; /* Margen inferior para separar del botón */
  }

  .datos-transferencia-card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333333; /* Título negro */
      text-align: center; /* Centra horizontalmente */
  }

  .datos-transferencia-list-group {
      padding: 0;
      margin: 0;
      list-style-type: none;
  }

  .datos-transferencia-list-group-item {
      background-color: #ffffff; /* Fondo gris claro */
      border-bottom: 1px solid #e0e0e0; /* Borde gris claro */
      padding: 15px 20px; /* Aumenta el espacio alrededor del texto */
      color: #666666; /* Texto gris */
  }

  .datos-transferencia-list-group-item:last-child {
      border-bottom: none;
  }

  .datos-transferencia-list-group-item-first {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }

  .datos-transferencia-list-group-item-last {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .datos-transferencia-title-image {
      margin-left: 10px; /* Ajusta el margen */
      width: 70px;
      height: 70px;
      vertical-align: middle; /* Alinea verticalmente */
  }

  .datos-transferencia-button-container {
      position: absolute; /* Posiciona absolutamente el contenedor */
      bottom: 20px; /* Margen inferior */
      width: 100%; /* Ocupa todo el ancho de la carta */
      text-align: center; /* Centra horizontalmente */
  }

  .datos-transferencia-button {
      padding: 10px 20px;
      background-color: #333333; /* Fondo negro */
      color: #ffffff; /* Texto blanco */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }
</style>
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}
<div class="datos-transferencia-container">
    <div class="datos-transferencia-card">
        <div class="datos-transferencia-card-body">
            <h1 class="datos-transferencia-card-title">Datos de Transferencia<img class="datos-transferencia-title-image" src="{% static 'core/img/transferencia2.png' %}" alt="imagen"></h1>
            <ul class="datos-transferencia-list-group">
                <li class="datos-transferencia-list-group-item">DEBE SUBIR SU COMPROBANTE EN LA SECCION MIS COMPRAS</li>
                <li class="datos-transferencia-list-group-item">Nombre: Fabian Bravo</li>
                <li class="datos-transferencia-list-group-item">RUT: 12.345.678-9</li>
                <li class="datos-transferencia-list-group-item">Banco Santander</li>
                <li class="datos-transferencia-list-group-item">Cuenta Corriente</li>
                <li class="datos-transferencia-list-group-item">Número de cuenta: 97639762</li>
            </ul>
            <div class="text-center">
                <a href="{% url 'compras' %}" class="btn btn-primary mt-2">Ir a Mis Compras</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
