{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
  }

  .informes-container {
      max-width: 800px;
      margin: 50px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .informes-title {
      color: #333333;
      margin-bottom: 10px;
      text-align: center;
  }

  .informes-subtitle {
      color: #666666; 
      margin-bottom: 20px;
      text-align: center;
  }

  .informes-list {
      list-style-type: none;
      padding: 0;
      margin-top: 20px;
  }

  .informes-item {
      background-color: #f2f2f2; 
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      margin-bottom: 20px;
      transition: transform 0.3s ease; 
      overflow: hidden; 
  }

  .informes-item:hover {
      transform: translateY(-5px);
  }

  .informes-item-title {
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      border-bottom: 1px solid #dddddd; 
      border-radius: 5px 5px 0 0;
  }

  .informes-item-download {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #ffffff; 
      background-color: #4caf50; 
      border-radius: 0 0 5px 5px;
      text-align: center;
      transition: background-color 0.3s ease; 
  }

  .informes-item-download:hover {
      background-color: #45a049; 
  }

  .informes-table {
      width: 100%;
      border-collapse: collapse;
  }

  .informes-table th,
  .informes-table td {
      padding: 10px;
      border-bottom: 1px solid #dddddd; 
  }

  .informes-table th {
      background-color: #f2f2f2; 
      color: #000000; 
      text-align: left; 
      font-weight: bold;
  }

  .informes-table td {
      background-color: #ffffff;
      color: #333333; 
  }

  #mes, #anio {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>

<style>
    .radio-group {
        display: flex;
        justify-content: start;
        margin-bottom: 1em;
    }

    .radio-group input[type="radio"] {
        display: none;
    }

    .radio-group label {
        padding: 0.5em 1em;
        border: 1px solid #007bff;
        color: #007bff;
        border-radius: 0.25em;
        cursor: pointer;
        margin-right: 1em;
    }

    .radio-group input[type="radio"]:checked + label {
        background-color: #007bff;
        color: white;
    }
</style>
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}
<div class="informes-container">
    <h1 class="informes-title">Informes</h1>
    
    <h2 class="informes-subtitle">Descarga tus informes aquí:</h2>
    
    <ul class="informes-list">
        <li class="informes-item">
            <h3 class="informes-item-title">Informe Mensual</h3>
            <form id="myForm" method="POST" action="{% url 'generate_pdf' %}">
            {% csrf_token %}
            <table class="informes-table">
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select id="mes" name="mes" style="width: 200px; height: 40px; border-radius: 5px; border: 1px solid #ccc; padding: 5px;">
                                {% for mes in meses %}
                                    <option value="{{ mes }}">{{ mes }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select id="anio" name="anio" style="width: 200px; height: 40px; border-radius: 5px; border: 1px solid #ccc; padding: 5px;">
                                {% for anio in anios %}
                                    <option value="{{ anio }}">{{ anio }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            
            <div class="radio-group">
                <input type="radio" id="pdf" name="formato" value="pdf">
                <label for="pdf">Generar PDF</label>
                <input type="radio" id="excel" name="formato" value="excel">
                <label for="excel">Generar Excel</label>
            </div>
            <input type="submit" value="Generar" class="btn btn-success">
            </form>
            <br>
        </li>
    </ul>

    <script>
        document.getElementById('pdf').addEventListener('change', function() {
            document.getElementById('myForm').action = "{% url 'generate_pdf' %}";
        });
    
        document.getElementById('excel').addEventListener('change', function() {
            document.getElementById('myForm').action = "{% url 'generate_excel' %}";
        });
    </script>

</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}
