
/* NOSOTROS */
.container {
    display: flex;
    align-items: flex-start; /* Alinear elementos al inicio */
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.image {
    flex: 0 0 30%; /* 30% width */
    margin-right: 20px; /* Espaciado entre imagen y texto */
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.text {
    flex: 0 0 70%; /* 70% width */
}

.h1-text {
    font-size: 2em;
    color: #333;
}

.p-text {
    font-size: 22px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px; /* Separación inferior entre párrafos */
}

.btn {
    font-size: 1.2em;
    padding: 15px 20px; /* Aumentar padding para que el botón esté más abajo */
    border-radius: 8px;
    border: 2px solid #333;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-top: 10px; /* Espacio superior para separar el botón */
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text {
        flex: 0 0 100%;
    }
}
/* FIN NOSOTROS */

/* NAVBAR */
.navbar {
    height: 80px; /* Ajusta la altura según sea necesario */
    padding-left: 20px; /* Margen izquierdo */
    padding-right: 20px; /* Margen derecho */
  }

  .navbar-nav .nav-link {
    font-size: 22px; /* Ajusta el tamaño de la fuente según sea necesario */
  }

/* FIN NAVBAR */